.box_free {
  width: 100%;
  display: inline-block;
  font-size: 17px;
  border: 1px solid #a42c53;
  border-radius: 14px;
  text-align: center;
  color: #000;
  font-weight: 500;
  padding: 5px 10px 7px 0;
  position: relative;
  color: #fff !important;
}
.box_free span {
  color: #fff !important;
}

.box_free .txt_free {
  width: 90%;
  float: left;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: url("https://novaivffertilitycentres.com/img/bg-free-rippon-bar.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 70px;
  padding: 10px 5px;
  margin: -38px 5% 0px 5%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.box_free span {
  color: #a42c53;
}

.box_free_out {
  margin-top: 45% !important;
}

@media only screen and (max-width: 600px) {
  .box_free_out {
    margin-top: 15% !important;
  }
}
