.hero-section {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

.carousel-container {
  position: relative;
  height: 400px;
}

.carousel-image {
  object-fit: cover;
}

.form-container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .hero-section {
    flex-direction: column;
  }

  .carousel-container, .form-container {
    width: 100%;
  }

  .carousel-image {
    height: 300px; /* Adjust height for smaller screens */
  }
}

